.align-left { float: left; }
.align-right { float: right; }
.space-60 { height: 60px; }
.space-30 { height: 30px; }
.space-15 { height: 15px; }

body {
	background-color: #393939;
}

h1 {
	color: #e18728;
	font-family: 'Inconsolata';
}

p {
	font-family: 'Inconsolata';
	color: #ddd;
}

input {
	font-family: 'Inconsolata';
	background-color: #393939;
	border-width: 1px;
	border-color: #e18728;
	border-radius: 10px;
	border-style: solid;
	box-shadow: none;
	color: #ddd;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 100%;
}

input:focus {
	outline: 0;
}

#chat-input {
	width: 100%;
}

#chat-list {
	font-family: 'Inconsolata';
	color: #ddd;
    height: 20em;
    line-height: 2em;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background-color: #444;
}

::-webkit-scrollbar-thumb {
	background-color: #e18728;
}

::-webkit-scrollbar-button {
	background-color: #e18728;
	height: 3px;
}